<div class="fields" [formGroup]="form()">
  <mat-checkbox
    [checked]="form().controls.notifyAssigned.value"
    [disabled]="!notifications.isSupported()"
    (change)="onNotifyAssignedChange($event.checked)"
  >
    {{ 'settings.misc.notifyAssigned' | translate }}
  </mat-checkbox>
  @if (permissionBlocked()) {
    <p class="notifications-blocked">{{ 'settings.misc.notificationsBlocked' | translate }}</p>
  }
  <mat-checkbox formControlName="tabBadge">
    {{ 'settings.misc.tabBadge' | translate }}
  </mat-checkbox>
  <mat-checkbox formControlName="openInNewTab">
    {{ 'settings.misc.openInNewTab' | translate }}
  </mat-checkbox>
  <mat-checkbox formControlName="ignoreWip">
    {{ 'settings.misc.ignoreWip' | translate }}
  </mat-checkbox>

  <div class="actions">
    <button mat-stroked-button type="button" (click)="exportConfig()">
      {{ 'settings.misc.export' | translate }}
    </button>
    <input
      #fileInput
      type="file"
      accept=".json,application/json"
      hidden
      (change)="onFileSelected(fileInput.files); fileInput.value = ''"
    />
    <button
      mat-stroked-button
      type="button"
      [disabled]="importing()"
      (click)="fileInput.click()"
    >
      {{ 'settings.misc.import' | translate }}
    </button>
  </div>
</div>
