<div class="repos-title">{{ 'settings.connections.repos.title' | translate }}</div>
<table class="repos-table">
  <thead>
    <tr>
      <th>{{ 'settings.connections.repos.pathHeader' | translate }}</th>
      <th class="alias-col">{{ 'settings.connections.repos.aliasHeader' | translate }}</th>
      <th class="color-col">{{ 'settings.connections.repos.colorHeader' | translate }}</th>
      <th class="delete-col"></th>
    </tr>
  </thead>
  <tbody>
    @for (row of rows(); track row.project.id) {
      <tr [formGroup]="row.group">
        <td>{{ row.project.pathWithNamespace }}</td>
        <td class="alias-col">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="alias" autocomplete="off" spellcheck="false" />
          </mat-form-field>
        </td>
        <td class="color-col">
          <app-project-color-picker
            [value]="row.group.controls.color.value"
            [name]="row.project.alias"
            (valueChange)="setColor(row.group, $event)"
          />
        </td>
        <td class="delete-col">
          <button
            mat-icon-button
            type="button"
            (click)="removeRepo(row.project)"
            [attr.aria-label]="'settings.connections.repos.remove' | translate: { alias: row.project.alias }"
          >
            <mat-icon svgIcon="x" />
          </button>
        </td>
      </tr>
    }
    @if (connection().tokenConfigured) {
      <tr class="add-row" [formGroup]="addForm">
        <td colspan="4">
          <div class="add-fields">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="path-field">
              <input
                matInput
                formControlName="path"
                [placeholder]="pathPlaceholderKey() | translate"
                autocomplete="off"
                spellcheck="false"
              />
              @if (addForm.controls.path.hasError('server')) {
                <mat-error>{{ addForm.controls.path.getError('server') | translate }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="alias-field">
              <input
                matInput
                formControlName="alias"
                [placeholder]="'settings.connections.repos.aliasPlaceholder' | translate"
                autocomplete="off"
                spellcheck="false"
              />
              @if (addForm.controls.alias.hasError('server')) {
                <mat-error>{{ addForm.controls.alias.getError('server') | translate }}</mat-error>
              }
            </mat-form-field>
            <app-project-color-picker
              [value]="addForm.controls.color.value"
              [name]="addForm.controls.alias.value || addForm.controls.path.value"
              (valueChange)="addForm.controls.color.setValue($event)"
            />
            <button
              mat-stroked-button
              type="button"
              class="add-submit"
              [disabled]="addForm.invalid || store.adding()"
              (click)="addRepo()"
            >
              <mat-icon svgIcon="plus" />
              {{ 'settings.connections.repos.add' | translate }}
            </button>
          </div>
        </td>
      </tr>
    } @else {
      <tr class="token-missing-row">
        <td colspan="4">{{ 'errors.connections.tokenMissing' | translate }}</td>
      </tr>
    }
  </tbody>
</table>
