<mat-chip-listbox multiple [attr.aria-label]="'board.filters.ariaLabel' | translate" class="filter-chips">
  <mat-chip-option [selected]="drafts()" (selectionChange)="$event.isUserInput && draftsToggle.emit()">
    {{ 'board.filters.drafts' | translate }}
  </mat-chip-option>

  @if (identityConfigured()) {
    <mat-chip-option [selected]="mine()" (selectionChange)="$event.isUserInput && mineToggle.emit()">
      <mat-icon svgIcon="user" matChipAvatar />
      {{ 'board.filters.mine' | translate }}
    </mat-chip-option>
  } @else {
    <span [matTooltip]="'board.filters.mineDisabledTooltip' | translate">
      <mat-chip-option disabled [selected]="false">
        <mat-icon svgIcon="user" matChipAvatar />
        {{ 'board.filters.mine' | translate }}
      </mat-chip-option>
    </span>
  }
</mat-chip-listbox>

<span class="separator"></span>
<span class="spacer"></span>

<span class="summary">
  <span class="count">{{ countLabel() }}</span>
  @if (mine()) {
    <button mat-button type="button" (click)="clearFilters.emit()">
      {{ 'board.filters.clear' | translate }}
    </button>
  }
</span>
